CC3_RPC_URL=https://mainnet3.creditcoin.network
CC3_TESTNET_RPC_URL=https://rpc.cc3-testnet.creditcoin.network
SEPOLIA_RPC_URL=
BLOCKSCOUT_API_KEY=
BLOCKSCOUT_API_KEY_TESTNET=
ETHERSCAN_API_KEY_SEPOLIA=
PRIVATE_KEY=